<div class="app-container">
    <div class="topbar">
        <div class="nav-items-container">
            <a class="nav-item" [ngClass]="{'nav-item-selected': (currentUrlObs | async) === '/'}" routerLink="/" routerLinkActive="active">Photos</a>
            <a class="nav-item" [ngClass]="{'nav-item-selected': (currentUrlObs | async) === '/favourites'}" routerLink="/favourites" routerLinkActive="active">Favourites</a>
        </div>
    </div>
    <div class="view-container">
        <router-outlet></router-outlet>
    </div>
</div>
