
<div #galleryContainer style="display: flex; flex: 1; flex-direction: column; overflow: auto;">
  <div class="grid-pane">
    <ng-container *ngFor="let photo of photos">
      <ng-container *ngTemplateOutlet="photoTemplate; context: {photoContext: photo}"></ng-container>
    </ng-container>
  </div>

  <ng-container *ngIf="loadingInProgress | async">
    <div style="display: flex; flex: 1; align-items: center; justify-content: center; margin-bottom: 50px;">
      <!-- <h1>Loading ...</h1> -->
      <ripple-loader></ripple-loader>
    </div>
  </ng-container>

</div>


<!-- Grid Item -->
<ng-template #photoTemplate let-photo="photoContext">
  <div style="position: relative;">
    <img image-loader class="thumbnail" [attr.src]="photo.url" (onLoad)="onImageLoaded($event, imgPlaceholder)" (click)="onPhotoClick(photo)" />
    <span #imgPlaceholder class="thumbnail-placeholder" style="background-color: #d0d0d0;"></span>
  </div>
</ng-template>
