
$navItemBackgroundColor: #00000000;
$navItemForegroundColor: #505050;
$navItemBackgroundColorHover: #f0f0f0;
$navItemBackgroundColorActive: #e0e0e0;
$navItemBackgroundColorSelected: #f0f0f0;
$navItemForegroundColorSelected: royalblue;
