
:host {
  display: flex;
  flex: 1 1 100%;
  overflow: auto;
}




$gridItemWidth: 200px;
$gridItemHeight: 300px;
$gridHorizontalSpacing: 30px;
$gridVerticalSpacing: 100px;


.thumbnail {
  width: $gridItemWidth;
  height: $gridItemHeight;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 0 0px 0px rgba(0,0,0,0.15);
}

.thumbnail-placeholder {
  position: absolute; 
  z-index: 1; 
  left: 0;
  width: $gridItemWidth;
  height: $gridItemHeight;
  border-radius: 4px;
}