
:host {
  display: flex;
  flex: 1 1 100%;
  overflow: auto;
}




$gridItemWidth: 200px;
$gridItemHeight: 300px;
$gridHorizontalSpacing: 30px;
$gridVerticalSpacing: 100px;


.thumbnail {
  width: $gridItemWidth;
  height: $gridItemHeight;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 0 0px 0px rgba(0,0,0,0.15);
}

.thumbnail-placeholder {
  position: absolute; 
  z-index: 1; 
  left: 0;
  width: $gridItemWidth;
  height: $gridItemHeight;
  border-radius: 4px;
}



.delete-button {
  background-color: #e81a1a; 
  color: white; 
  font-size: 14px; 
  font-weight: 500; 
  line-height: 20px; 
  border: 0; 
  border-radius: 3px;
  padding: 8px 25px 8px 25px;
  cursor: pointer;
  outline: none;
}

.delete-button:hover {
  background-color: #f44242;
}

.delete-button:active {
  background-color: #ca4444;
}